[TEMPLATE]
VITE_SUPABASE_URL=https://omjxmrphvzoashayxvjx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9tanhtcnBodnpvYXNoYXl4dmp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc4NTA5NzEsImV4cCI6MjEwMzQyNjk3MX0.WWxORc6b8UHpBzVv0kLxWi5y_RCBj52gDxriJurOwzk
VITE_R2_PUBLIC_URL=https://pub-63275e81d98342db977cfb54e1ea360d.r2.dev
